<!-- Event Gallery -->
<div id="event_gallery">
    <div class="container">
        <!-- header -->
        <h2 class="section_header">
            <hr class="left visible-desktop">
            <span>Event Gallery</span>
            <hr class="right visible-desktop">
        </h2>

        <!-- feature list -->
        <div class="row">
            <div class="span4 feature">
                <img src="assets/event_gallery1.jpg" alt="feature1" class="thumb" />
                <h3>
                    <i class="i_movil"></i> XXX                    
                </h3>
                <p class="description">
                    There are many variations of passages of Lorem Ipsum available.
                </p>
                <a href="#" class="btn btn-default">more</a>
            </div>
            <div class="span4 feature">
                <img src="assets/event_gallery2.jpg" alt="feature2" class="thumb" />
                <h3>
                    <i class="i_movil"></i> XXX
                </h3>
                <p class="description">
                    There are many variations of passages of Lorem Ipsum available.
                </p>
                <a href="#" class="btn btn-default">more</a>
            </div>
            <div class="span4 feature">
                <img src="assets/event_gallery3.jpg" alt="feature3" class="thumb" />
                <h3>
                    <i class="i_movil"></i> XXX
                </h3>
                <p class="description">
                    There are many variations of passages of Lorem Ipsum available.
                </p>
                <a href="#" class="btn btn-default">more</a>
            </div>
        </div>
    </div>
</div>
