<!-- starts footer -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="span8">
                <h3>&nbsp;</h3>
                <div class="blog_post">
                    <div class="row">
                        <div class="span2">
                            <a href="blog.html">
                                <img src="assets/pic_blog.png" alt="post image" class="img-circle" />
                            </a>
                        </div>
                        <div class="span6">
                            <a href="blog.html" class="title">
                                Connecting Thread
                            </a>
                            <div class="intro">
                                Telephone : 022-21644143
                            </div>
                            <div class="intro">
                                Mobile No. : +91-8108585777
                            </div>
                            <div class="intro">
                                Email ID : info.@akrutiproducts.com
                            </div>
                            <div class="intro">
                                Direction : D/704, Pinewoods, Swapna Nagri, Mulund (West), Mumbai - 400 080. INDIA.
                            </div>
                            <% if false %>
                            <div class="date">
                                Oct 22. 2012
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span4 contact_us">
                <h3>Contact Us</h3>
                <form class="form-horizontal">
                    <div class="field">
                        <div class="label_field">
                            <label for="inputName">Name</label>
                        </div>
                        <input type="text" id="inputName" />
                    </div>

                    <div class="field">
                        <div class="label_field">
                            <label for="inputEmail">Email</label>
                        </div>
                        <input type="text" id="inputEmail" />
                    </div>

                    <div class="field">
                        <div class="label_field">
                            <label for="inputCity">City</label>
                        </div>
                        <input type="text" id="inputCity" />
                    </div>

                    <div class="field">
                        <div class="label_field">
                            <label for="inputComment">Comments</label>
                        </div>
                        <textarea name="comments"></textarea>
                    </div>
                    <button type="submit" class="btn">Send</button>
                </form>
            </div>
        </div>
        <hr>
        <div class="row copyright">
            <div class="span5">
                <h3>Social</h3>
                <a href="#" class="social fb">
                    <i class="i_facebook"></i>
                </a>
                <a href="#" class="social tw">
                    <i class="i_twitter"></i>
                </a>
                <a href="#" class="social yt">
                    <i class="i_youtube"></i>
                </a>
            </div>
            <div class="span2 offset5 copy">
                <p>2012 - Akruti Products</p>
            </div>
        </div>
    </div>
</footer>
