<!-- starts maternity_pads -->
<div id="maternity_pads">
    <div class="container"><!-- header -->
        <h2 class="section_header">
            <hr class="left visible-desktop">
            <span>
                Maternity Pads
            </span>
            <hr class="right visible-desktop">
        </h2>

        <div class="phrases_wrapper">
            <div class="phrase">
                <div class="row">
                    <div class="span12">
                        <p class="testimony" style="text-align: center;width: 100%;">
                        	At childbirth a life begins and so does motherhood.<br/>
                        	“PRASUTI” maternity pads CARING MOTHERHOOD <br/>
                        </p>
                       
                        <p>
                        	<img src="/assets/tick.png" style="padding-right: 15px; padding-bottom: 8px;">
                        	We at M/s Akruti Products believe that innovation is the key to success. 
                        	We continuously strive towards providing excellent quality products of feminine and personal 
                        	hygiene care.We are proud of being the pioneers in manufacturing machine made maternity pads in India.                            
                        </p>
                        
                        <p>
                        	<img src="/assets/tick.png" style="padding-right: 15px; padding-bottom: 8px;">
                        	Our state of the art maternity pads have been widely acclaimed by the mothers of newly born babies, 
                        	as well as the gynecologists across India.
                        </p>
                        <p>
                        	<img src="/assets/tick.png" style="padding-right: 15px; padding-bottom: 8px;">
                        	The unique design and super absorption capacity are the key features of our maternity pads. 
                        	The super absorbent core pad is made of fibers of fluff pulp.
                        </p>
						<p>
							<img src="/assets/tick.png" style="padding-right: 15px; padding-bottom: 8px;">
							The pad is covered by Nonwoven. It has been a key product in various applications around the world. 
							Its contribution to manufacturing feminine and personal hygiene care products has been unparalleled. 
						<p>
							<img src="/assets/tick.png" style="padding-right: 15px; padding-bottom: 8px;">
							The moisture proof backing helps in preventing stains and leak through the pads.
							The extra long tab ends are designed to tie the pad with adjustable elastic belt around the waist.
						</p>
                    </div>
                    <% if false %>
                    <div class="span3 offset1">
                        <div class="pic">
                            <img src="assets/pic1.jpg" alt="author" class="img-circle" />
                            <span class="name">Alejandra Galvan Castillo</span>
                            <span class="position">Bootstrap wizard</span>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>