<!-- begins navbar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
      	</a>
      	<a class="brand scroller" data-section="body" href="index-2.html">
            <img src="assets/AkrutiProducts_logo.png" alt="logo" />
        </a>
	  	<div class="nav-collapse collapse">
            <ul class="nav pull-right">
                <li><a href="#" class="scroller" data-section="#hero">Home</a></li>
                <li><a href="#" class="scroller" data-section="#maternity_pads">Maternity Pads</a></li>
                <li><a href="#" class="scroller" data-section="#event_gallery">Event Gallery</a></li>
                <li><a href="#" class="scroller" data-section="#product_availability">Product Availability</a></li>
                <li><a href="#" class="scroller" data-section="#upcoming-product">Upcoming Product</a></li>
				<li><a href="#" class="scroller" data-section="#footer">Contact us</a></li>
                <% if false %>
                <li><a class="btn-header" href="signup.html">Sign up</a></li>
                <li><a class="btn-header" href="signin.html">Sign in</a></li>
                <% end %>
            </ul>
        </div>
    </div>
  </div>
</div>
<!-- ends navbar -->