<!-- starts product_availability -->
<div id="product_availability">
    <div class="container"><!-- header -->
        <h2 class="section_header">
            <hr class="left visible-desktop">
            <span>
                Product Availability
            </span>
            <hr class="right visible-desktop">
        </h2>

        <div class="phrases_wrapper">
            <div class="phrase">
                <div class="row">
                    <div class="span12">
						<form class="form-horizontal" id="registerHere" method='post' action=''>
						  <fieldset>
						    <legend>Order Form</legend>
						    <div class="control-group">
						      <label class="control-label" for="input01">Name</label>
						      <div class="controls">
						        <input type="text" class="input-xlarge" id="first_name" name="first_name" rel="popover" data-original-title="Full Name" placeholder="First Name" />
						        &nbsp;&nbsp;
						        <input type="text" class="input-xlarge" id="last_name" name="last_name" rel="popover" data-original-title="Full Name" placeholder="Last Name" />
						        
						      </div>
							</div>

							<div class="control-group">
								<label class="control-label" for="input01">Email ID</label>
							      <div class="controls">
							        <input type="text" class="input-xlarge" id="email" name="email" rel="popover" data-content="Email." data-original-title="Email" placeholder="Email" />
							      </div>
							</div>
							
							 <div class="control-group">
								<label class="control-label" for="input01">Address</label>
							      <div class="controls">
							        <textarea type="text" class="input-xlarge" id="address" name="address" rel="popover" data-original-title="Address" style="width: 572px; height: 62px;resize: none;"></textarea>
							       
							      </div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="input01">&nbsp;</label>
							      <div class="controls">
							        <input type="text" class="input-xlarge" id="pincode" name="pincode" rel="popover" data-original-title="Pincode" >
							       
							      </div>
							</div>
							<div class="control-group">
								<label class="control-label" for="input01">Contact Number</label>
							      <div class="controls">
							        <input type="text" class="input-xlarge" id="telephone" name="telephone" rel="popover"  data-original-title="Telephone" placeholder="Telephone" />
							       	<input type="text" class="input-xlarge" id="mobile" name="mobile" rel="popover" data-original-title="Mobile" placeholder="Mobile No." />
							      </div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="input01">Type</label>
							      <div class="controls">
							        <label class="control-label" for="input01" style="text-align: center;">Quantity</label>
							        <label class="control-label" for="input01" style="text-align: center;">Rate</label>
							        <label class="control-label" for="input01" style="text-align: left;">Amount</label>
							      </div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="input01">Belted</label>
							      <div class="controls">
							        <label class="control-label" for="input01" style="text-align: center;">
										<input type="text" id="qty_belted" name="qty_belted" style="width: 40px;" />
									</label>
							        <label class="control-label" for="input01" style="text-align: center;">Rs. 70</label>
							        <label class="control-label" for="input01" style="text-align: left;">
							        	<input type="text" id="belted_amount" name="belted_amount" style="width: 50px;" />	
									</label>
							      </div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="input01">Beltless</label>
							      <div class="controls">
							        <label class="control-label" for="input01" style="text-align: center;">
										<input type="text" id="qty_beltless" name="qty_beltless" style="width: 40px;" />
									</label>
							        <label class="control-label" for="input01" style="text-align: center;">Rs. 70</label>
							        <label class="control-label" for="input01" style="text-align: left;width: 200px;">
										<input type="text" id="beltless_amount" name="beltless_amount" style="width: 50px;" />
										&nbsp;&nbsp;&nbsp;
										Total
										&nbsp;&nbsp;&nbsp;
										<input type="text" id="beltless_amount" name="beltless_amount" style="width: 50px;" />										
									</label>
							      </div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="input01"></label>
							      <div class="controls">
							       <button type="submit" class="btn btn-success" rel="tooltip" title="Submit">Submit</button>
							       &nbsp;&nbsp;&nbsp;&nbsp;
							       <button class="btn btn-cancel" rel="tooltip" title="Cancel">Cancel</button>
							      </div>
							</div>
							   
						  </fieldset>
						</form>
						
						<p>
                        	Note :                          
                        </p>						
						<p>
                        	<img src="/assets/tick.png" style="padding-right: 15px; padding-bottom: 8px;">
                        	The minimum order qty has to be 4 packs of each Belted and Beltless Type.                            
                        </p>
                        
                        <p>
                        	<img src="/assets/tick.png" style="padding-right: 15px; padding-bottom: 8px;">
                        	All orders will be dispatched  across the country only by VPP(Value Paid Post).
                        </p>
                        <p>
                        	<img src="/assets/tick.png" style="padding-right: 15px; padding-bottom: 8px;">
                        	Minimum 7 days of transit period.
                        </p>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>