<!-- upcoming-product -->
<div id="upcoming-product">
    <div class="container">
        <!-- header -->
        <h2 class="section_header">
            <hr class="left visible-desktop">
            <span>
                Upcoming Products
                <% if false %><small>See all</small><% end %>
            </span>
            <hr class="right visible-desktop">
        </h2>

        <!-- pricing charts -->
        <div class="row" style="padding-left: 13.5%;">
            <div class="span4">
                <div class="price_wrapper lite regular" style="min-height: 184px;">
                	<% if false %>
                    <header>
                    	
                        <span>Lite</span>
                        <div class="price">
                            <span>$ 35</span>
                            Per Month
                        </div>
                        
                    </header>
                    <% end %>
                    <section>
                        <h3>Name of Products</h3>
                        <ul class="perks">
                            <li>
                                <i class="i_shuffle"></i>
                                Adult Diapers
                            </li>
                            <li>
                                <i class="i_shuffle"></i>
                                Under pads
                            </li>
                            <li>
                                <i class="i_shuffle"></i>
                                Sanitary Napkins
                            </li>
                            <li>
                                <i class="i_shuffle"></i>
                                Baby Diapers
                            </li>
                        </ul>
                        <% if false %><a href="#" class="btn">Order now</a><% end %>
                    </section>
                </div>
            </div>
            
            <div class="span1">
            </div>
           
            <div class="span4">
                <div class="price_wrapper standard regular" style="min-height: 184px;">
                	<% if false %>
                    <header>
                        <span>Lite</span>
                        <div class="price">
                            <span>$ 35</span>
                            Per Month
                        </div>
                        
                    </header>
                    <% end %>
                    <section>
                        <h3>Name of Products</h3>
                        <ul class="perks">
                            <li>
                                <i class="i_shuffle"></i>
								Baby Nappy pads
                            </li>
                            <li>
                                <i class="i_shuffle"></i>
                                Breast Pads
                            </li>
                            <li>
                                <i class="i_shuffle"></i>
                                Panty Liners
                            </li>
                            <li>
                                <i class="i_shuffle"></i>
                                Face Masks
                            </li>
                        </ul>
                        <% if false %><a href="#" class="btn">Order now</a><% end %>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>